.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  width: 21.2rem;
  height: 5rem;
  border: 1px solid #00b37e;
  border-radius: 8px;

  font-size: 1.6rem;
  color: #00b37e;
  font-weight: 700;

  text-decoration: none;

  svg {
    color: #00b37e;
    height: 2rem;
    width: 2rem;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}
