.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1120px;

    .values-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 2rem;
    }
  
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 1.6rem;
      margin-top: 6.4rem;
      margin-bottom: 2.4rem;
    }
  }
}
